body {
    font-family: 'Helvetica', sans-serif;
    background-color: white;
    color:  black;
}

section {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: black;
}

p {
    margin-top: 0;
}

.header-section {
    position: relative;
}

/*
.grid-container {
    display: grid;
}
*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.concert-name {
    color: #00bcd4;
    font-size: large;
    font-weight: bold;
    
}

.date {
    font-size: medium;
    font-weight: bold;
}

.artist-name {
    color: #ff00ff;
    font-weight: bold;
}

.artist-role {
    color: black;
    font-style: italic;
}

.repertoire {
    font-style: italic;
}
 
/*
@media (min-width: 401px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
 
@media (max-width: 400px) {
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
    }
}
*/

/* For screens wider than 400px */
@media (min-width: 401px) {
    .grid-container {
       grid-template-columns: repeat(2, 1fr);
    }
  }
  
/* For screens less than or equal to 400px */
@media (max-width: 400px) {
    .grid-container {
       grid-template-columns: 1fr;
    }
}