body {
    font-family: helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    font-size: 24px;
    width: 100vw;
  }

label {
    font-weight: bold;
}

div {
    padding-bottom: 20px;
}

input[type="text"] {
    padding: 5px;
    width: 150px;
}

p {
    background: #3D405B;
    color: #F4F1DE;
    padding: 10px;
    visibility: hidden;
    width: 50vw;
    font-size: 18px;
}